<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.etranger.mapper.HomeMapper">
 
  <select id="getItemList" resultType="com.etranger.wine.domain.HomeBean">
 	select w.wine_name, w.wine_grapes, w.wine_type, w.wine_image, w.wine_price, w.wine_info, r.review_star, r.review_taste1, r.review_taste2, r.review_taste3, r.review_taste4 from wine w
 	join review r on r.wine_num = #{wine_id}
 </select>
 
  </mapper>
  